
configuration {
 modi:               "drun";
theme:            "~/.config/rofi/themes/slate.rasi";
/* theme:              "~/.cache/wal/colors-rofi-dark.rasi";*/
 font:               "SF Pro Display Bold 10";
 combi-modi:         "window,drun,ssh";
 width:              17;
 eh:                 1;
 bw:                 3;
 lines:              10;
 sidebar-mode:       false;
 location:           0;
 icon-theme:         "Papirus";
 show-icons:         true;
 separator-style:    none;
 }
